# **Part2**

In [1]:
names = ["Moein", "Shahram"] 
marks = [10,9]

for i in zip(names, marks):
    print(i)

('Moein', 10)
('Shahram', 9)

In [2]:
for i,j in zip(names, marks):
    print(i,j)

Moein 10
Shahram 9

In [4]:
##Example
#your favorite fruits names 3 count
#your favorite taste related to fruits
tastes = ["bitter", "sweet", "sour"]
fruits_names = ["coconut", "apple", "lime"]
colors = ["brown", "red", "yellow"]

for i,j,k in zip(fruits_names, tastes, colors):
    print(i,j,k)

coconut bitter brown
apple sweet red

In [5]:
tastes = ["bitter", "sweet", "sour"]
fruits_names = ["coconut", "apple", "lime"]
colors = ["brown", "red"]

for i,j,k in zip(fruits_names, tastes, colors):
    print(i,j,k)

coconut bitter brown
apple sweet red

In [6]:
for i in tastes:
    for j in fruits_names:
        print(i,j)

bitter coconut
bitter apple
bitter lime
sweet coconut
sweet apple
sweet lime
sour coconut
sour apple
sour lime

In [7]:
names = ["Moein", "Shahram", "Shohreh", "Ebi"]

In [8]:
sorted(names)

['Ebi', 'Moein', 'Shahram', 'Shohreh']

In [14]:
sorted([5,4,8,9,1.2,6], reverse=False)    #sorted([5,4,8,9,1.2,6])

[1.2, 4, 5, 6, 8, 9]

In [12]:
sorted([5,4,8,9,1.2,6], reverse=True)

[9, 8, 6, 5, 4, 1.2]

In [ ]:
sorted()

In [10]:
sorted([True,False])

[False, True]

In [15]:
#Example
#number list: 8,12,3,2,1.5,6.5,8.5,12.8

for i in sorted([8,12,3,2,1.5,6.5,8.5,12.8], reverse = True):
  print(i)

12.8
12
8.5
8
6.5
3
2
1.5

In [20]:
number = [8,12,3,2,1.5,6.5,8.5,12.8]

for i in number:
    w = []
    w.append(i)
    print(sorted(w, reverse = True))

[8]
[12]
[3]
[2]
[1.5]
[6.5]
[8.5]
[12.8]

In [24]:
w = []
for i in number:
    w.append(i)
print(sorted(w, reverse = True))

[12.8, 12, 8.5, 8, 6.5, 3, 2, 1.5]

In [26]:
number = [8,12,3,2,1.5,6.5,8.5,12.8]
for i in number:
    x = sorted(number, reverse=True)
print(x)

[12.8, 12, 8.5, 8, 6.5, 3, 2, 1.5]

In [27]:
#0 : S
#1 : a
#2 : j
#3 : a
#4 : d

#1
name = input("enter your name: ")

for i in range(len(name)):
    print(i, " : ", name[i])

enter your name: Sajad
0  :  S
1  :  a
2  :  j
3  :  a
4  :  d

In [32]:
#0 : S
#1 : a
#2 : j
#3 : a
#4 : d

#2
name = input("enter your name: ")
counter = 0
for j in name:
    print(counter," : ", j)
    counter += 1

enter your name: Sajad
0  :  S
1  :  a
2  :  j
3  :  a
4  :  d

In [33]:
#0 : S
#1 : a
#2 : j
#3 : a
#4 : d

#3
name = input("enter your name: ")

for i,j in enumerate(name):
    print(i, " : ", j)

enter your name: Sajad
0  :  S
1  :  a
2  :  j
3  :  a
4  :  d

In [36]:
for i in range(1,11):
    for j in range(1,11):
        print(i * j, end = "\t")
    print("\n")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

### **IF Structure**

In [ ]:
#if condition:
    #expression

In [38]:
number = int(input("enter your number: "))

if number % 2 == 0:
    print(number, " : ", "This is even number")

enter your number: 8
8  :  This is even number

In [39]:
number = int(input("enter your number: "))

if number % 2 == 0:
    print(number, " : ", "This is even number")
else:
    print(number, " : ", "This is odd number")

enter your number: 7
7  :  This is odd number

In [41]:
for i in range(1,31):
    if i % 2 == 0:
        print(i, " : ", "This is even number")
    else:
        print(i, " : ", "This is odd number")

1  :  This is odd number
2  :  This is even number
3  :  This is odd number
4  :  This is even number
5  :  This is odd number
6  :  This is even number
7  :  This is odd number
8  :  This is even number
9  :  This is odd number
10  :  This is even number
11  :  This is odd number
12  :  This is even number
13  :  This is odd number
14  :  This is even number
15  :  This is odd number
16  :  This is even number
17  :  This is odd number
18  :  This is even number
19  :  This is odd number
20  :  This is even number
21  :  This is odd number
22  :  This is even number
23  :  This is odd number
24  :  This is even number
25  :  This is odd number
26  :  This is even number
27  :  This is odd number
28  :  This is even number
29  :  This is odd number
30  :  This is even number

In [42]:
for i in range(1,11):
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

In [45]:
for i in range(1,11):
    if i in [7,8,9]:
        continue
    print(i)

1
2
3
4
5
6
10

In [49]:
word = "Jahan"
for j in word:
    if j == "a":
        continue
    print(j)

J
h
n

In [50]:
word = "Jahan"
for j in word:
    if j in ["h", "n"]:
        continue
    print(j)

J
a
a

In [51]:
for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [52]:
# WRONG METHOD
for i in range(1,11):
    if i in [7,8]:
        break
    print(i)

1
2
3
4
5
6

In [53]:
word = "Jahan"
for j in word:
    if j == "a":
        break
    print(j)

J

In [54]:
# WRONG METHOD
word = "Jahan"
for j in word:
    if j in ["h", "n"]:
        break
    print(j)

J
a

In [56]:
#Example
#condition: 6,9,12
for k in range(2,31,2):
    if k in [6,9,12]:
        continue
    print(k, end = "\t")

2	4	8	10	14	16	18	20	22	24	26	28	30

In [57]:
a = int(input("enter your number: "))
b = int(input("enter your number: "))

if a > b and a>= 0:
    print("OK")
else:
    print("NOT OK")

enter your number: 8
enter your number: 3
OK